body {
	background:#e9ebee; margin: 0; padding:0;
	font-family: Times New Roman, Tahoma Arial; font-size:14px;
}
a {text-decoration:none; color:blue;}
a:hover {text-decoration:underline; color:red;}

.thongbao {color:#0b9e0c;}
.baoloi,.error {color:#e11e1e!important}



#header {background: #3c5998; min-height: 63px; display:inline-block; width:100%;}
#navbar {min-height:20px;}

#container {display: flex;}
#aside	 {width:26%;}
#article {width:74%;}
#footer {min-height:120px;}

.aside-wrap {margin: 0; padding: 30px; }
.article-contents {
	background: #fff; display: inline-block; width: 100%; box-sizing: border-box;
	border: 1px solid #ccc;	border-radius: 3px;
	position: relative;	padding-bottom: 40px;
	min-height: 520px;
}
.footer-wrap {
	text-align:center; color:#666; padding:10px 20px 0 0;
	text-shadow: 1px 1px 1px #fff;
}

.header-wrap, #container, .footer-wrap {
	width:96%; max-width:1000px; margin:0 auto;
}




/*______ aside-links ______________*/
.aside-links {margin:0; padding:0; list-style:none;}
.aside-links li {padding:4px 6px; font:normal bold 16px Times; border-bottom:1px dashed #ccc}
.aside-links, .aside-links a {color: #7e7bdf; text-shadow: 1px 1px 1px #fff;}
.aside-links .fa-delete {border-bottom:none; padding-top:16px;}


.nutgui:hover {background:blue}
.nutgui {
	background:#067404; text-shadow:none; font-weight:bold;
	margin-left: 7px; color: #fff; box-shadow: 3px 3px 3px #000;
	-webkit-border-radius: 3px; border-radius: 3px;
	border:none; padding:3px 8px 3px 8px; cursor:pointer;
	height:32px;
}

.user-pic:hover {opacity:0.8;}
.user-pic {
    width: 36px;
    height: 36px;
    float: left;
	margin-right: 10px;
    border-radius: 100%;
    background-color:#9fb7db;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.text-limit {
	display:inline-block;
	width: 80px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


/*_____phantrang____________________________________________________*/
.phantrang {display:block; padding:15px}
.phantrang a:hover {color:#ff0000;text-decoration:none}
.phantrang a, .phantrang b {
	display: inline-block; margin: 5px 2px 0 0;padding: 0 12px; line-height: 28px;
	text-decoration: none;color: #333; background-color: #FAFAFA;
	border: 1px solid #fff; box-shadow: 1px 1px 2px #989898;
}
.phantrang b {background:#c9c5bf; border: 1px solid #a81c1c; color:#621a0b;}




/*______popup___________________________________________________*/
.popup {
	float:right; position:relative; font-size:14px;
	background:#f0f0f0; box-shadow: 0px 0px 3px #ccc; border-radius:3px;
	padding:0 3px; color: #042b9b;
}
.popup:hover {text-decoration:none; color: blue;}
.popup ul{
	position:absolute; visibility:hidden; z-index:66; top:18px; right:-6px;
	background:#f0f0f0; box-shadow:2px 2px 5px #834646; border:1px solid #ccc;
	width: 220px; height:auto; margin:0px; padding:10px 3px 30px 5px;
}
.popup ul:before {
	position:absolute; width:8px; height:8px; background:#f0f0f0;
	right:12px; top:-6px; content:""; -webkit-transform: rotate(45deg);transform: rotate(45deg);
	border-top:1px solid #ccc; border-left:1px solid #ccc;
}
.popup ul .fa:before {padding-right:5px}
.popup li {
	font: 15px Tahoma; color: #042b9b; 
	list-style:none; padding:6px 10px 6px 10px; 
	border-bottom:1px dotted #666;
}
.popup li:hover {background:#1d61ec; color:#fff;text-shadow:none;}
.popup:focus ul{visibility:visible;}



/*__ header and infologin ________________________________*/
.header-wrap {padding: 12px 0;position:relative;}
#site-name {padding-left:26px; display: inline;}
#site-name a {color: white; text-shadow: 0 0 2px #666;}
#site-name a:hover {color: #f4e9ac; text-decoration: none;}


.infologin {float:right; padding-top:8px; padding-right:16px;}
.infologin .user-link {color:#cff554; font:normal bold 16px Tahoma; padding:0 4px 0 3px;}
.infologin .user-link:hover {color:#fff;}
.infologin .user-pic {width:26px; height:26px; margin: 0;}

.infologin .icons {color:#98a7fb; padding:3px 2px;}
.infologin .icons:before{font-size:18px;color: #9099fe;}
.infologin .icons:hover {background:#000; box-shadow:0px 0px 5px #fff;}
.infologin .icons i {
	font:12px Tahoma; vertical-align:top; 
	margin-left:-8px; background:red; color:yellow; 
	border-radius:12px; padding:1px 5px;
}

.infologin .popup {float:none; margin:0; background:none; box-shadow:none; padding:6px 2px 2px 4px;}
.infologin .popup:before {font-size:20px; color:#fff;}
.infologin .popup ul {top:30px; right:-6px;}
/*END MAIN-THEME _______*/













/*___________ viewpage __________________________________________________________________________*/
.viewpage {padding: 6px 10%; word-wrap: break-word;}
.page-title {text-shadow: 1px 1px 2px #C2C2C2; padding:3px 0px; letter-spacing:-0.8px;}
.page-content {display:inline-block; width: 100%; padding-bottom:20px;}



.aside-links .user1 a, .aside-links .user1:before { color:#151c90; }
.aside-links .user2 a, .aside-links .user2:before { color:#873838; }



/*________________________________________________________*/
@media only screen and (max-width: 820px){
	body {padding: 0;}
	#container  {flex-direction: column;}
	#article	{order:1;}
	#aside		{order:2;}
	#header, #navbar, #footer, #container, #aside, #article, 
	.header-wrap, .footer-wrap {margin:0; padding:0; width:100%;}
	.viewpage {padding: 6px 12px;}
	
	#header {padding-bottom:6px;}
	#site-name a {font: normal bold 20px Arial;}
	.userupdate  .listview-login td {padding:3px 0px;}
}